# ===============================
# JAVA + MAVEN
# ===============================
target/
build/
*.class
*.jar
*.war
*.ear

# ===============================
# IDEs
# ===============================
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Spring Tool Suite
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# ===============================
# Terraform
# ===============================
*.tfstate
*.tfstate.*
*.lock.hcl
.terraform/
.terraform.lock.hcl
*_v*.exe

# Si quieres ignorar terraform state por carpeta:
infra/**/.terraform/
infra/**/terraform.tfstate*
infra/**/.terraform.lock.hcl

# ===============================
# Docker
# ===============================
*.log
*.pid
.env
docker-compose.override.yml

# ===============================
# Otros
# ===============================
*.DS_Store
*.swp
*.bak

# ===============================
# Excepciones si necesitas incluir algo
# ===============================
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
